.bttn:hover{
    background-color: #9f06f7!important;
    border: 1px solid #9f06f7!important;
}

div a {
    text-decoration: none!important;
}

div a:hover {
    text-decoration:underline!important;
}

.img-box {
    background-image: url("../img/pikachu.png");
    background-size: cover;
}

.gradient-custom {
    background: rgb(0,52,255);
    background: linear-gradient(90deg, rgba(0,52,255,1) 0%, rgba(77,103,218,1) 46%, rgba(0,212,255,1) 100%);
  }